
.bem{
    position: absolute;
    margin-top: 0%;
    margin-left: 2%;
    font-size:  30px;  
    opacity:  .85; 
    color: black;
    font-weight:  700;
    z-index: 0;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
}
.vindo{
    color: #8bc9c6;
}

a:-webkit-any-link {
    text-decoration: none;
    color:black;
}

.mail{
    color: black;
    cursor: pointer;
    text-decoration: none;
}
.mail:hover{
    color: black;
    cursor: -moz-zoom-in;
    text-decoration: none;
}
.botao1{
    position:absolute;
    margin-left: 60%;
    margin-top: 0.5%;
    width:  auto;
    min-width:  100px;
    border-radius:  24px; 
    text-align:  center; 
    padding:  15px 40px;
    background-color: #8bc9c6; 
    color:  #fff; 
    font-size:  14px;
    font-weight:  500; 
    box-shadow:  0px 2px 6px -1px rgba(0,0,0,.13); 
    border:  none;
    outline: 0; 
}
.botao1:hover{
    transform:  translateY(-3px);
    box-shadow:  0 2px 6px -1px rgba(0,0,0, .65);
    cursor: pointer;
}
.botao1:active{
    transform:  scale(.99);
    cursor: pointer;
}
.botao1:focus {
    outline:0;
    cursor: pointer;
}
.botao2{
    width:  auto;
    min-width:  200px;
    border-radius:  24px; 
    text-align:  center; 
    padding:  15px 40px;
    background-color: #8bc9c6; 
    color:  #fff; 
    font-size:  14px;
    font-weight:  500; 
    box-shadow:  0px 2px 6px -1px rgba(0,0,0,.13); 
    border:  none;
    outline: 0; 
}
.botao2:hover{
    transform:  translateY(-3px);
    box-shadow:  0 2px 6px -1px rgba(0,0,0, .65);
    cursor: pointer;
}
.botao2:active{
    transform:  scale(.99);
    cursor: pointer;
}
.botao2:focus {
    outline:0;
    cursor: pointer;
}
.botao3{
    width:  auto;
    min-width:  200px;
    border-radius:  24px; 
    text-align:  center; 
    padding:  15px 40px;
    background-color: #8bc9c6; 
    color:  #fff; 
    font-size:  14px;
    font-weight:  500; 
    box-shadow:  0px 2px 6px -1px rgba(0,0,0,.13); 
    border:  none;
    outline: 0; 
}
.botao3:hover{
    transform:  translateY(-3px);
    box-shadow:  0 2px 6px -1px rgba(0,0,0, .65);
    cursor: pointer;
}
.botao3:active{
    transform:  scale(.99);
    cursor: pointer;
}
.botao3:focus {
    outline:0;
    cursor: pointer;
}
.botao4{
    width:  auto;
    min-width:  200px;
    border-radius:  24px; 
    text-align:  center; 
    padding:  15px 40px;
    background-color: #4b8380; 
    color:  #fff; 
    font-size:  14px;
    font-weight:  500; 
    box-shadow:  0px 2px 6px -1px rgba(0,0,0,.13); 
    border:  none;
    outline: 0; 
}

.td1{
    width: 100%;
    text-align: left;
}
.divInput {
    width: 38%;
    position: absolute;
    margin-left: 20%;
    margin-top: 0.01%;
    font-size:  16px; 
    padding:  20px 0px; 
    height:  56px; 
    border:  none; 
    border-bottom:  solid 1px rgba(0,0,0,.1); 
    background:  #fff; 
    box-sizing:  border-box; 
    color:  #000; 
    font-weight:  400;
    z-index: 2;
}
.divInput:focus{
    border-bottom:  solid 1px black;
    outline: 0; 
    box-shadow:  0 2px 6px -8px rgba(0,0,0, .45);
    color: #000;
}
.divInput:focus::placeholder{
    color:black;
}
.logout{
    position:absolute;
    margin-left: 93%;
    margin-top: -1%;
    z-index: 2;
}
.env{
    position:absolute;
    margin-left: -2%;
    margin-top: 5%;
}
.emails td:nth-child(2){
    min-width: 300px;
    max-width: 300px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
.emails td:nth-child(3){
    font-size:  20px; 
    min-width: 180px;
    max-width: 180px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
.emails td:nth-child(4){
    min-width: 15px;
    max-width: 15px;
    margin-bottom:  5px; 
    font-size:  14px; 
    color:  #000; 
    opacity:  .65;
    font-weight:  400;
}
.emails td:first-child{
    min-width: 60px;
    max-width: 60px;
}
.emails tr {
    background-color: #eee;
    border-top: 1px solid #fff;
}
.emails tr:hover {
    background-color: #ccc;
}
.emails th {
    background-color: #fff;
}
.emails th, .emails td {
    padding: 3px 5px;
}
.emails td:hover {
    cursor: pointer;
}
::-webkit-scrollbar {
    width: 10px;
}
body{
    overflow-x: hidden;
    overflow-y: hidden;
}

::-webkit-scrollbar-track {
    
    -webkit-border-radius: 10px;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: lightgrey; 
}
::-webkit-scrollbar-thumb:window-inactive {
    background: lightgray; 
}
.emails{
    overflow-y:scroll;
    height:85%;
    display:block;
    font-size:  26px;
    position: absolute;;
    margin-left: 20%;
    margin-top: 6%;
    z-index: 1;
    border-collapse: collapse;  
}
.menor{
    margin-bottom:  5px; 
    font-size:  14px; 
    color:  #000; 
    opacity:  .65;
    font-weight:  400; 
    min-width: 300px;
    max-width: 300px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
.bt{
    border: none;
    cursor: pointer;
    background: none ;
}
.bt:hover{
    background: none ;
}
.bt:active{
    background: none ;
    transform:  scale(.80);
}
.bt:focus {
    outline:0;
}